[Unit]
Description= Iptables

[Service]
ExecStartPre=/bin/sleep 30
ExecStart=/tmp/iptables.sh

[Install]
After=docker.service
WantedBy=multi-user.target
